{% extends 'products/base.html' %}

{% block content %}
<h1>О Компании</h1>
<p>ТОО «НПП Гамма» имеет большой опыт работы и квалификационный персонал в области обеспечения качества в медицинской радиологии (контроль качества, обучение). На данные виды деятельности наша организация имеет лицензии Комитета по атомной энергии РК на оказание услуг в области обеспечения радиационной безопасности (лицензия на услуги № 20006407 от 27.04.2020 г., лицензия на обучение № 17002682 от 15.02.2017 г.).</p>
<p>Компания  ТОО «НПП Гамма»  является официальным представителем приборостроительного завода НПП «ЭЛЕМЕР» на территории Республики Казахстан и Республики Кыргызстан.  </p>
<p>Для успешного решения задач по автоматизации технологических процессов наша компания предлагает все необходимые средства измерения, которые внесены в Государственный реестр СИ  РК и имеют необходимые разрешительные документы.</p>
<p></p>
<p></p>
{% endblock %}
